@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

/* font-family: 'Cinzel', serif; */
*{
    margin: 0;
    padding: 0;
}
header {
    height: 400px;
    background-image: url("https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
    background-size: cover;
    background-position: center;
}


h1 {
    font-family: 'Cinzel', serif;
    color: white;
    text-align: center;
    padding: 200px;
     margin: 0 auto;
     width: 200px;
   
}

main h2 :first-child {
    font-family: 'Cinzel', serif;
    text-align: center;
    margin: 0 auto;
    padding: 80px;
}

main p {
    text-align: center;
    margin: 60px;
}
main div {
    text-align: center;

}

img {

    margin: 10px;
}

main h2 {
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-top: 100px;

}

main ul {
    font-size: 30px;
    margin-top: 100px;
    margin-left: 40px;
    list-style: none;
}

main ul li {
    padding: 10px;
}

main ul li:nth-of-type(1)::after {
    content: "-SOLD OUT";
    color:red;
}

main ul li:nth-of-type(2)::after {
    content: "-SOLD OUT";
    color:red;
}

main ul li:nth-of-type(3)::after {
    content: "-SOLD OUT";
    color:red;
}

main ul li:nth-of-type(4)::after {
    content: "-Only 4 SPOT AVAILABLE";
    color:red;
}

main ul li:nth-of-type(5)::after {
    content: "-AVAILABLE";
    color: green;
}

main ul li:nth-of-type(6)::after {
    content: "-AVAILABLE";
    color: green;
}

